/* google fonts links */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    text-align: center;
}


h1{
    background-color: black;
    color:white;
    font-size:3rem;
    padding:35px 0px;
}

/* styling choices i.e. container */
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px 120px;
    margin: 100px 0px;
}


/* creating circle of div for hover effect */
.choice{
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius:50%;
    padding  : 10px;


    &:hover{
     
        cursor: pointer;
        background-image:linear-gradient(red,blue);
    } 
}

/* styling images */
img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius: 50%;
}

/* Score-board Styling */
.score-card{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    margin:50px 0px;
}

.buttons button{
    padding: 20px 50px;
    border-radius: 20px;
    border:none;
    font-size:2rem;
    background-color: black;
    color : white;
 
}
